.opcoes {
    display: grid;
    font-size: 50px;
    justify-content: center;
    margin-top: 40px;
}

.titulo {
    display: block;
    margin: auto;
    max-width: 50%;
    height: auto;
}

.botao {
    width: 150px;
    height: 90px;
    cursor: pointer;
    padding: 10px;
    border-radius: 60px;
    margin: 10px;
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgb(67, 66, 66);
    background-color: rgba(207, 207, 207, 0.5);
    color: white;
}

.botao:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.02); /* Efeito de zoom ao passar o mouse sobre o card */
    color: rgb(8, 165, 134);
    border-color: rgba(51, 62, 44, 0.7);
}

.botao:active {
    box-shadow: 0 5px 5px rgba(146, 240, 173);
    transform: translateY(4px);
}

.botao i {
    font-size:40px;
}

.a4s{
    top: 20px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .titulo {
        padding: 20px;
        max-width: 80%;
    }

    .opcoes {
        margin-top: 50px;
    }
    
    .botao {
        width: 150px;
        margin: 30px;
        height: 90px;
    }

    .botao i {
        font-size: 40px;
    }

}

@media (max-width: 480px) {
    .titulo {
        padding: 20px;
        max-width: 100%;
    }

    .opcoes {
        margin-top: 50px;
    }
    
    .botao {
        width: 120px;
        margin: 25px;
        height: 70px;
    }

    .botao i {
        font-size: 24px;
    }

}