.opcoes {
    display: grid;
    justify-content: center;
    margin-top: 40px;
}

.titulo {
    display: block;
    margin: auto;
    max-width: 50%;
    height: auto;
    margin-top: 30px;
}

.botao {
    width: 150px;
    height: 90px;
    cursor: pointer;
    padding: 10px;
    border-radius: 60px;
    margin: 10px;
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgb(67, 66, 66);
    background-color: rgba(207, 207, 207, 0.5);
    color: white;
}

.botao:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.02); /* Efeito de zoom ao passar o mouse sobre o card */
    color: rgb(8, 165, 134);
    border-color: rgba(51, 62, 44, 0.7);
}

.botao:active {
    box-shadow: 0 5px 5px rgba(146, 240, 173);
    transform: translateY(4px);
}

.botao i {
    font-size:40px;
}

.a4s{
    position: absolute;
    top: 25px;
    left: 20px;
    width: 60px;
    height: 60px;
}

@media (max-width: 1024px){

    .titulo{
        margin-top: 80px;
        max-width: 80%;
    }

    .a4s{
        left: 20px;
        width: 60px;
        height: 60px;
    }

    .botao {
        width: 200px;
        height: 120px;
        margin: 20px;
    }

}

@media (max-width: 480px) {
    
    .titulo{
        margin-top: 80px;
        max-width: 90%;
    }

    .a4s{
        left: 20px;
        width: 45px;
        height: 45px;
    }

    .botao {
        width: 140px;
        height: 90px;
        margin: 15px;
    }
}
